{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://monitoring.amazonaws.com/"
        },
        {
            "url": "http://monitoring.amazonaws.com/"
        }
    ],
    "x-hasEquivalentPaths": true,
    "info": {
        "contact": {
            "email": "mike.ralphson@gmail.com",
            "name": "Mike Ralphson",
            "url": "https://github.com/mermade/aws2openapi",
            "x-twitter": "PermittedSoc"
        },
        "description": "<p>Amazon CloudWatch monitors your Amazon Web Services (AWS) resources and the applications you run on AWS in real time. You can use CloudWatch to collect and track metrics, which are the variables you want to measure for your resources and applications.</p> <p>CloudWatch alarms send notifications or automatically change the resources you are monitoring based on rules that you define. For example, you can monitor the CPU usage and disk reads and writes of your Amazon EC2 instances. Then, use this data to determine whether you should launch additional instances to handle increased load. You can also use this data to stop under-used instances to save money.</p> <p>In addition to monitoring the built-in metrics that come with AWS, you can monitor your own custom metrics. With CloudWatch, you gain system-wide visibility into resource utilization, application performance, and operational health.</p>",
        "license": {
            "name": "Apache 2.0 License",
            "url": "http://www.apache.org/licenses/"
        },
        "termsOfService": "https://aws.amazon.com/service-terms/",
        "title": "Amazon CloudWatch",
        "version": "2010-08-01",
        "x-apiClientRegistration": {
            "url": "https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct"
        },
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "backgroundColor": "#FFFFFF",
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg"
        },
        "x-origin": [
            {
                "contentType": "application/json",
                "converter": {
                    "url": "https://github.com/mermade/aws2openapi",
                    "version": "1.0.0"
                },
                "url": "https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/monitoring-2010-08-01.normal.json",
                "x-apisguru-direct": true
            }
        ],
        "x-preferred": true,
        "x-providerName": "amazonaws.com",
        "x-release": "v4",
        "x-serviceName": "monitoring"
    },
    "externalDocs": {
        "description": "Amazon Web Services documentation",
        "url": "https://docs.aws.amazon.com/monitoring/"
    },
    "security": [
        {
            "hmac": []
        }
    ],
    "paths": {
        "/": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes the specified alarms. In the event of an error, no alarms are deleted.",
                "operationId": "DeleteAlarms",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "480": {
                        "description": "ResourceNotFound",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AlarmNames": {
                                        "description": "The alarms to be deleted.",
                                        "items": {
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "AlarmNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DeleteDashboards": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Deletes all dashboards that you specify. You may specify up to 100 dashboards to delete. If there is an error during this call, no dashboards are deleted.",
                "operationId": "DeleteDashboards",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidParameterValueException",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "481": {
                        "description": "DashboardNotFoundError",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    },
                    "482": {
                        "description": "InternalServiceFault",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "DashboardNames": {
                                        "description": "The dashboards to be deleted. This parameter is required.",
                                        "items": {
                                            "type": "string"
                                        },
                                        "type": "array"
                                    }
                                },
                                "required": [
                                    "DashboardNames"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAlarmHistory": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "<p>Retrieves the history for the specified alarm. You can filter the results by date range or item type. If an alarm name is not specified, the histories for all alarms are returned.</p> <p>CloudWatch retains the history of an alarm even if you delete the alarm.</p>",
                "operationId": "DescribeAlarmHistory",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxRecords",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "AlarmHistoryItems": {
                                            "description": "The alarm histories, in JSON format.",
                                            "items": {
                                                "description": "Represents the history of a specific alarm.",
                                                "properties": {
                                                    "AlarmName": {
                                                        "description": "The descriptive name for the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "HistoryData": {
                                                        "description": "Data about the alarm, in JSON format.",
                                                        "maxLength": 4095,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "HistoryItemType": {
                                                        "description": "The type of alarm history item.",
                                                        "enum": [
                                                            "ConfigurationUpdate",
                                                            "StateUpdate",
                                                            "Action"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "HistorySummary": {
                                                        "description": "A summary of the alarm history, in text format.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Timestamp": {
                                                        "description": "The time stamp for the alarm history item.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token that marks the start of the next batch of returned results.",
                                            "maxLength": 1024,
                                            "minLength": 0,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidNextToken",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "AlarmName": {
                                        "description": "The name of the alarm.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "EndDate": {
                                        "description": "The ending date to retrieve alarm history.",
                                        "format": "date-time",
                                        "type": "string"
                                    },
                                    "HistoryItemType": {
                                        "description": "The type of alarm histories to retrieve.",
                                        "enum": [
                                            "ConfigurationUpdate",
                                            "StateUpdate",
                                            "Action"
                                        ],
                                        "type": "string"
                                    },
                                    "MaxRecords": {
                                        "description": "The maximum number of alarm history records to retrieve.",
                                        "maximum": 100,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "The token returned by a previous call to indicate that there is more data available.",
                                        "maxLength": 1024,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "StartDate": {
                                        "description": "The starting date to retrieve alarm history.",
                                        "format": "date-time",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAlarms": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves the specified alarms. If no alarms are specified, all alarms are returned. Alarms can be retrieved by using only a prefix for the alarm name, the alarm state, or a prefix for any action.",
                "operationId": "DescribeAlarms",
                "parameters": [
                    {
                        "description": "Pagination limit",
                        "in": "query",
                        "name": "MaxRecords",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Pagination token",
                        "in": "query",
                        "name": "NextToken",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "MetricAlarms": {
                                            "description": "The information for the specified alarms.",
                                            "items": {
                                                "description": "Represents an alarm.",
                                                "properties": {
                                                    "ActionsEnabled": {
                                                        "description": "Indicates whether actions should be executed during any changes to the alarm state.",
                                                        "type": "boolean"
                                                    },
                                                    "AlarmActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "AlarmArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the alarm.",
                                                        "maxLength": 1600,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "AlarmConfigurationUpdatedTimestamp": {
                                                        "description": "The time stamp of the last update to the alarm configuration.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "AlarmDescription": {
                                                        "description": "The description of the alarm.",
                                                        "maxLength": 1024,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "AlarmName": {
                                                        "description": "The name of the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ComparisonOperator": {
                                                        "description": "The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand.",
                                                        "enum": [
                                                            "GreaterThanOrEqualToThreshold",
                                                            "GreaterThanThreshold",
                                                            "LessThanThreshold",
                                                            "LessThanOrEqualToThreshold"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "DatapointsToAlarm": {
                                                        "description": "The number of datapoints that must be breaching to trigger the alarm.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "Dimensions": {
                                                        "description": "The dimensions for the metric associated with the alarm.",
                                                        "items": {
                                                            "description": "Expands the identity of a metric.",
                                                            "properties": {
                                                                "Name": {
                                                                    "description": "The name of the dimension.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "The value representing the dimension measurement.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Name",
                                                                "Value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 10,
                                                        "type": "array"
                                                    },
                                                    "EvaluateLowSampleCountPercentile": {
                                                        "description": "Used only for alarms based on percentiles. If <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If <code>evaluate</code> or this parameter is not used, the alarm is always evaluated and possibly changes state no matter how many data points are available.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "EvaluationPeriods": {
                                                        "description": "The number of periods over which data is compared to the specified threshold.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "ExtendedStatistic": {
                                                        "description": "The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100.",
                                                        "pattern": "p(\\d{1,2}(\\.\\d{0,2})?|100)",
                                                        "type": "string"
                                                    },
                                                    "InsufficientDataActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "MetricName": {
                                                        "description": "The name of the metric associated with the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Metrics": {
                                                        "description": "<p/>",
                                                        "items": {
                                                            "description": "<p>This structure is used in both <code>GetMetricData</code> and <code>PutMetricAlarm</code>. The supported use of this structure is different for those two operations.</p> <p>When used in <code>GetMetricData</code>, it indicates the metric data to return, and whether this call is just retrieving a batch set of data for one metric, or is performing a math expression on metric data. A single <code>GetMetricData</code> call can include up to 100 <code>MetricDataQuery</code> structures.</p> <p>When used in <code>PutMetricAlarm</code>, it enables you to create an alarm based on a metric math expression. Each <code>MetricDataQuery</code> in the array specifies either a metric to retrieve, or a math expression to be performed on retrieved metrics. A single <code>PutMetricAlarm</code> call can include up to 20 <code>MetricDataQuery</code> structures in the array. The 20 structures can include as many as 10 structures that contain a <code>MetricStat</code> parameter to retrieve a metric, and as many as 10 structures that contain the <code>Expression</code> parameter to perform a math expression. Any expression used in a <code>PutMetricAlarm</code> operation must return a single time series. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Some of the parameters of this structure also have different uses whether you are using this structure in a <code>GetMetricData</code> operation or a <code>PutMetricAlarm</code> operation. These differences are explained in the following parameter list.</p>",
                                                            "properties": {
                                                                "Expression": {
                                                                    "description": "<p>The math expression to be performed on the returned data, if this object is performing a math expression. This expression can use the <code>Id</code> of the other metrics to refer to those metrics, and can also use the <code>Id</code> of other expressions to use the result of those expressions. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Within each MetricDataQuery object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>",
                                                                    "maxLength": 1024,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Id": {
                                                                    "description": "A short name used to tie this object to the results in the response. This name must be unique within a single call to <code>GetMetricData</code>. If you are performing math expressions on this set of data, this name represents that data and can serve as a variable in the mathematical expression. The valid characters are letters, numbers, and underscore. The first character must be a lowercase letter.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Label": {
                                                                    "description": "A human-readable label for this metric or expression. This is especially useful if this is an expression, so that you know what the value represents. If the metric or expression is shown in a CloudWatch dashboard widget, the label is shown. If Label is omitted, CloudWatch generates a default.",
                                                                    "type": "string"
                                                                },
                                                                "MetricStat": {
                                                                    "description": "<p>The metric to be returned, along with statistics, period, and units. Use this parameter only if this object is retrieving a metric and not performing a math expression on returned data.</p> <p>Within one MetricDataQuery object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>",
                                                                    "properties": {
                                                                        "Metric": {
                                                                            "description": "The metric to return, including the metric name, namespace, and dimensions.",
                                                                            "properties": {
                                                                                "Dimensions": {
                                                                                    "description": "The dimensions for the metric.",
                                                                                    "items": {
                                                                                        "description": "Expands the identity of a metric.",
                                                                                        "properties": {
                                                                                            "Name": {
                                                                                                "description": "The name of the dimension.",
                                                                                                "maxLength": 255,
                                                                                                "minLength": 1,
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value representing the dimension measurement.",
                                                                                                "maxLength": 255,
                                                                                                "minLength": 1,
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "Name",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "maxItems": 10,
                                                                                    "type": "array"
                                                                                },
                                                                                "MetricName": {
                                                                                    "description": "The name of the metric. This is a required field.",
                                                                                    "maxLength": 255,
                                                                                    "minLength": 1,
                                                                                    "type": "string"
                                                                                },
                                                                                "Namespace": {
                                                                                    "description": "The namespace of the metric.",
                                                                                    "maxLength": 255,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[^:].*",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Period": {
                                                                            "description": "The period, in seconds, to use when retrieving the metric.",
                                                                            "minimum": 1,
                                                                            "type": "integer"
                                                                        },
                                                                        "Stat": {
                                                                            "description": "The statistic to return. It can include any CloudWatch statistic or extended statistic.",
                                                                            "type": "string"
                                                                        },
                                                                        "Unit": {
                                                                            "description": "The unit to use for the returned data points.",
                                                                            "enum": [
                                                                                "Seconds",
                                                                                "Microseconds",
                                                                                "Milliseconds",
                                                                                "Bytes",
                                                                                "Kilobytes",
                                                                                "Megabytes",
                                                                                "Gigabytes",
                                                                                "Terabytes",
                                                                                "Bits",
                                                                                "Kilobits",
                                                                                "Megabits",
                                                                                "Gigabits",
                                                                                "Terabits",
                                                                                "Percent",
                                                                                "Count",
                                                                                "Bytes/Second",
                                                                                "Kilobytes/Second",
                                                                                "Megabytes/Second",
                                                                                "Gigabytes/Second",
                                                                                "Terabytes/Second",
                                                                                "Bits/Second",
                                                                                "Kilobits/Second",
                                                                                "Megabits/Second",
                                                                                "Gigabits/Second",
                                                                                "Terabits/Second",
                                                                                "Count/Second",
                                                                                "None"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Metric",
                                                                        "Period",
                                                                        "Stat"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "ReturnData": {
                                                                    "description": "<p>When used in <code>GetMetricData</code>, this option indicates whether to return the timestamps and raw data values of this metric. If you are performing this call just to do math expressions and do not also need the raw data returned, you can specify <code>False</code>. If you omit this, the default of <code>True</code> is used.</p> <p>When used in <code>PutMetricAlarm</code>, specify <code>True</code> for the one expression result to use as the alarm. For all other metrics and expressions in the same <code>PutMetricAlarm</code> operation, specify <code>ReturnData</code> as False.</p>",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "required": [
                                                                "Id"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Namespace": {
                                                        "description": "The namespace of the metric associated with the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "[^:].*",
                                                        "type": "string"
                                                    },
                                                    "OKActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "Period": {
                                                        "description": "The period, in seconds, over which the statistic is applied.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "StateReason": {
                                                        "description": "An explanation for the alarm state, in text format.",
                                                        "maxLength": 1023,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "StateReasonData": {
                                                        "description": "An explanation for the alarm state, in JSON format.",
                                                        "maxLength": 4000,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "StateUpdatedTimestamp": {
                                                        "description": "The time stamp of the last update to the alarm state.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "StateValue": {
                                                        "description": "The state value for the alarm.",
                                                        "enum": [
                                                            "OK",
                                                            "ALARM",
                                                            "INSUFFICIENT_DATA"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Statistic": {
                                                        "description": "The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>.",
                                                        "enum": [
                                                            "SampleCount",
                                                            "Average",
                                                            "Sum",
                                                            "Minimum",
                                                            "Maximum"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Threshold": {
                                                        "description": "The value to compare with the specified statistic.",
                                                        "format": "double",
                                                        "type": "number"
                                                    },
                                                    "TreatMissingData": {
                                                        "description": "Sets how this alarm is to handle missing data points. If this parameter is omitted, the default behavior of <code>missing</code> is used.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Unit": {
                                                        "description": "The unit of the metric associated with the alarm.",
                                                        "enum": [
                                                            "Seconds",
                                                            "Microseconds",
                                                            "Milliseconds",
                                                            "Bytes",
                                                            "Kilobytes",
                                                            "Megabytes",
                                                            "Gigabytes",
                                                            "Terabytes",
                                                            "Bits",
                                                            "Kilobits",
                                                            "Megabits",
                                                            "Gigabits",
                                                            "Terabits",
                                                            "Percent",
                                                            "Count",
                                                            "Bytes/Second",
                                                            "Kilobytes/Second",
                                                            "Megabytes/Second",
                                                            "Gigabytes/Second",
                                                            "Terabytes/Second",
                                                            "Bits/Second",
                                                            "Kilobits/Second",
                                                            "Megabits/Second",
                                                            "Gigabits/Second",
                                                            "Terabits/Second",
                                                            "Count/Second",
                                                            "None"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "NextToken": {
                                            "description": "The token that marks the start of the next batch of returned results.",
                                            "maxLength": 1024,
                                            "minLength": 0,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "480": {
                        "description": "InvalidNextToken",
                        "content": {
                            "*/*": {
                                "schema": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ActionPrefix": {
                                        "description": "The action name prefix.",
                                        "maxLength": 1024,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "AlarmNamePrefix": {
                                        "description": "The alarm name prefix. If this parameter is specified, you cannot specify <code>AlarmNames</code>.",
                                        "maxLength": 255,
                                        "minLength": 1,
                                        "type": "string"
                                    },
                                    "AlarmNames": {
                                        "description": "The names of the alarms.",
                                        "items": {
                                            "maxLength": 255,
                                            "minLength": 1,
                                            "type": "string"
                                        },
                                        "maxItems": 100,
                                        "type": "array"
                                    },
                                    "MaxRecords": {
                                        "description": "The maximum number of alarm descriptions to retrieve.",
                                        "maximum": 100,
                                        "minimum": 1,
                                        "type": "integer"
                                    },
                                    "NextToken": {
                                        "description": "The token returned by a previous call to indicate that there is more data available.",
                                        "maxLength": 1024,
                                        "minLength": 0,
                                        "type": "string"
                                    },
                                    "StateValue": {
                                        "description": "The state value to be used in matching alarms.",
                                        "enum": [
                                            "OK",
                                            "ALARM",
                                            "INSUFFICIENT_DATA"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    },
                    "required": true
                }
            }
        },
        "/#DescribeAlarmsForMetric": {
            "parameters": [
                {
                    "in": "query",
                    "name": "Action",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "query",
                    "name": "Version",
                    "required": true,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Content-Sha256",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Date",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Algorithm",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Credential",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Security-Token",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-Signature",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "in": "header",
                    "name": "X-Amz-SignedHeaders",
                    "required": false,
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Retrieves the alarms for the specified metric. To filter the results, specify a statistic, period, or unit.",
                "operationId": "DescribeAlarmsForMetric",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "properties": {
                                        "MetricAlarms": {
                                            "description": "The information for each alarm with the specified metric.",
                                            "items": {
                                                "description": "Represents an alarm.",
                                                "properties": {
                                                    "ActionsEnabled": {
                                                        "description": "Indicates whether actions should be executed during any changes to the alarm state.",
                                                        "type": "boolean"
                                                    },
                                                    "AlarmActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>ALARM</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "AlarmArn": {
                                                        "description": "The Amazon Resource Name (ARN) of the alarm.",
                                                        "maxLength": 1600,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "AlarmConfigurationUpdatedTimestamp": {
                                                        "description": "The time stamp of the last update to the alarm configuration.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "AlarmDescription": {
                                                        "description": "The description of the alarm.",
                                                        "maxLength": 1024,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "AlarmName": {
                                                        "description": "The name of the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "ComparisonOperator": {
                                                        "description": "The arithmetic operation to use when comparing the specified statistic and threshold. The specified statistic value is used as the first operand.",
                                                        "enum": [
                                                            "GreaterThanOrEqualToThreshold",
                                                            "GreaterThanThreshold",
                                                            "LessThanThreshold",
                                                            "LessThanOrEqualToThreshold"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "DatapointsToAlarm": {
                                                        "description": "The number of datapoints that must be breaching to trigger the alarm.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "Dimensions": {
                                                        "description": "The dimensions for the metric associated with the alarm.",
                                                        "items": {
                                                            "description": "Expands the identity of a metric.",
                                                            "properties": {
                                                                "Name": {
                                                                    "description": "The name of the dimension.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Value": {
                                                                    "description": "The value representing the dimension measurement.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "Name",
                                                                "Value"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "maxItems": 10,
                                                        "type": "array"
                                                    },
                                                    "EvaluateLowSampleCountPercentile": {
                                                        "description": "Used only for alarms based on percentiles. If <code>ignore</code>, the alarm state does not change during periods with too few data points to be statistically significant. If <code>evaluate</code> or this parameter is not used, the alarm is always evaluated and possibly changes state no matter how many data points are available.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "EvaluationPeriods": {
                                                        "description": "The number of periods over which data is compared to the specified threshold.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "ExtendedStatistic": {
                                                        "description": "The percentile statistic for the metric associated with the alarm. Specify a value between p0.0 and p100.",
                                                        "pattern": "p(\\d{1,2}(\\.\\d{0,2})?|100)",
                                                        "type": "string"
                                                    },
                                                    "InsufficientDataActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>INSUFFICIENT_DATA</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "MetricName": {
                                                        "description": "The name of the metric associated with the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Metrics": {
                                                        "description": "<p/>",
                                                        "items": {
                                                            "description": "<p>This structure is used in both <code>GetMetricData</code> and <code>PutMetricAlarm</code>. The supported use of this structure is different for those two operations.</p> <p>When used in <code>GetMetricData</code>, it indicates the metric data to return, and whether this call is just retrieving a batch set of data for one metric, or is performing a math expression on metric data. A single <code>GetMetricData</code> call can include up to 100 <code>MetricDataQuery</code> structures.</p> <p>When used in <code>PutMetricAlarm</code>, it enables you to create an alarm based on a metric math expression. Each <code>MetricDataQuery</code> in the array specifies either a metric to retrieve, or a math expression to be performed on retrieved metrics. A single <code>PutMetricAlarm</code> call can include up to 20 <code>MetricDataQuery</code> structures in the array. The 20 structures can include as many as 10 structures that contain a <code>MetricStat</code> parameter to retrieve a metric, and as many as 10 structures that contain the <code>Expression</code> parameter to perform a math expression. Any expression used in a <code>PutMetricAlarm</code> operation must return a single time series. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Some of the parameters of this structure also have different uses whether you are using this structure in a <code>GetMetricData</code> operation or a <code>PutMetricAlarm</code> operation. These differences are explained in the following parameter list.</p>",
                                                            "properties": {
                                                                "Expression": {
                                                                    "description": "<p>The math expression to be performed on the returned data, if this object is performing a math expression. This expression can use the <code>Id</code> of the other metrics to refer to those metrics, and can also use the <code>Id</code> of other expressions to use the result of those expressions. For more information about metric math expressions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/using-metric-math.html#metric-math-syntax\">Metric Math Syntax and Functions</a> in the <i>Amazon CloudWatch User Guide</i>.</p> <p>Within each MetricDataQuery object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>",
                                                                    "maxLength": 1024,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Id": {
                                                                    "description": "A short name used to tie this object to the results in the response. This name must be unique within a single call to <code>GetMetricData</code>. If you are performing math expressions on this set of data, this name represents that data and can serve as a variable in the mathematical expression. The valid characters are letters, numbers, and underscore. The first character must be a lowercase letter.",
                                                                    "maxLength": 255,
                                                                    "minLength": 1,
                                                                    "type": "string"
                                                                },
                                                                "Label": {
                                                                    "description": "A human-readable label for this metric or expression. This is especially useful if this is an expression, so that you know what the value represents. If the metric or expression is shown in a CloudWatch dashboard widget, the label is shown. If Label is omitted, CloudWatch generates a default.",
                                                                    "type": "string"
                                                                },
                                                                "MetricStat": {
                                                                    "description": "<p>The metric to be returned, along with statistics, period, and units. Use this parameter only if this object is retrieving a metric and not performing a math expression on returned data.</p> <p>Within one MetricDataQuery object, you must specify either <code>Expression</code> or <code>MetricStat</code> but not both.</p>",
                                                                    "properties": {
                                                                        "Metric": {
                                                                            "description": "The metric to return, including the metric name, namespace, and dimensions.",
                                                                            "properties": {
                                                                                "Dimensions": {
                                                                                    "description": "The dimensions for the metric.",
                                                                                    "items": {
                                                                                        "description": "Expands the identity of a metric.",
                                                                                        "properties": {
                                                                                            "Name": {
                                                                                                "description": "The name of the dimension.",
                                                                                                "maxLength": 255,
                                                                                                "minLength": 1,
                                                                                                "type": "string"
                                                                                            },
                                                                                            "Value": {
                                                                                                "description": "The value representing the dimension measurement.",
                                                                                                "maxLength": 255,
                                                                                                "minLength": 1,
                                                                                                "type": "string"
                                                                                            }
                                                                                        },
                                                                                        "required": [
                                                                                            "Name",
                                                                                            "Value"
                                                                                        ],
                                                                                        "type": "object"
                                                                                    },
                                                                                    "maxItems": 10,
                                                                                    "type": "array"
                                                                                },
                                                                                "MetricName": {
                                                                                    "description": "The name of the metric. This is a required field.",
                                                                                    "maxLength": 255,
                                                                                    "minLength": 1,
                                                                                    "type": "string"
                                                                                },
                                                                                "Namespace": {
                                                                                    "description": "The namespace of the metric.",
                                                                                    "maxLength": 255,
                                                                                    "minLength": 1,
                                                                                    "pattern": "[^:].*",
                                                                                    "type": "string"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "Period": {
                                                                            "description": "The period, in seconds, to use when retrieving the metric.",
                                                                            "minimum": 1,
                                                                            "type": "integer"
                                                                        },
                                                                        "Stat": {
                                                                            "description": "The statistic to return. It can include any CloudWatch statistic or extended statistic.",
                                                                            "type": "string"
                                                                        },
                                                                        "Unit": {
                                                                            "description": "The unit to use for the returned data points.",
                                                                            "enum": [
                                                                                "Seconds",
                                                                                "Microseconds",
                                                                                "Milliseconds",
                                                                                "Bytes",
                                                                                "Kilobytes",
                                                                                "Megabytes",
                                                                                "Gigabytes",
                                                                                "Terabytes",
                                                                                "Bits",
                                                                                "Kilobits",
                                                                                "Megabits",
                                                                                "Gigabits",
                                                                                "Terabits",
                                                                                "Percent",
                                                                                "Count",
                                                                                "Bytes/Second",
                                                                                "Kilobytes/Second",
                                                                                "Megabytes/Second",
                                                                                "Gigabytes/Second",
                                                                                "Terabytes/Second",
                                                                                "Bits/Second",
                                                                                "Kilobits/Second",
                                                                                "Megabits/Second",
                                                                                "Gigabits/Second",
                                                                                "Terabits/Second",
                                                                                "Count/Second",
                                                                                "None"
                                                                            ],
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "Metric",
                                                                        "Period",
                                                                        "Stat"
                                                                    ],
                                                                    "type": "object"
                                                                },
                                                                "ReturnData": {
                                                                    "description": "<p>When used in <code>GetMetricData</code>, this option indicates whether to return the timestamps and raw data values of this metric. If you are performing this call just to do math expressions and do not also need the raw data returned, you can specify <code>False</code>. If you omit this, the default of <code>True</code> is used.</p> <p>When used in <code>PutMetricAlarm</code>, specify <code>True</code> for the one expression result to use as the alarm. For all other metrics and expressions in the same <code>PutMetricAlarm</code> operation, specify <code>ReturnData</code> as False.</p>",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "required": [
                                                                "Id"
                                                            ],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "Namespace": {
                                                        "description": "The namespace of the metric associated with the alarm.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "pattern": "[^:].*",
                                                        "type": "string"
                                                    },
                                                    "OKActions": {
                                                        "description": "The actions to execute when this alarm transitions to the <code>OK</code> state from any other state. Each action is specified as an Amazon Resource Name (ARN).",
                                                        "items": {
                                                            "maxLength": 1024,
                                                            "minLength": 1,
                                                            "type": "string"
                                                        },
                                                        "maxItems": 5,
                                                        "type": "array"
                                                    },
                                                    "Period": {
                                                        "description": "The period, in seconds, over which the statistic is applied.",
                                                        "minimum": 1,
                                                        "type": "integer"
                                                    },
                                                    "StateReason": {
                                                        "description": "An explanation for the alarm state, in text format.",
                                                        "maxLength": 1023,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "StateReasonData": {
                                                        "description": "An explanation for the alarm state, in JSON format.",
                                                        "maxLength": 4000,
                                                        "minLength": 0,
                                                        "type": "string"
                                                    },
                                                    "StateUpdatedTimestamp": {
                                                        "description": "The time stamp of the last update to the alarm state.",
                                                        "format": "date-time",
                                                        "type": "string"
                                                    },
                                                    "StateValue": {
                                                        "description": "The state value for the alarm.",
                                                        "enum": [
                                                            "OK",
                                                            "ALARM",
                                                            "INSUFFICIENT_DATA"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Statistic": {
                                                        "description": "The statistic for the metric associated with the alarm, other than percentile. For percentile statistics, use <code>ExtendedStatistic</code>.",
                                                        "enum": [
                                                            "SampleCount",
                                                            "Average",
                                                            "Sum",
                                                            "Minimum",
                                                            "Maximum"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "Threshold": {
                                                        "description": "The value to compare with the specified statistic.",
                                                        "format": "double",
                                                        "type": "number"
                                                    },
                                                    "TreatMissingData": {
                                                        "description": "Sets how this alarm is to handle missing data points. If this parameter is omitted, the default behavior of <code>missing</code> is used.",
                                                        "maxLength": 255,
                                                        "minLength": 1,
                                                        "type": "string"
                                                    },
                                                    "Unit": {
                                                        "description": "The unit of the metric associated with the alarm.",
                                                        "enum": [
                                                            "Seconds",
                                                            "Microseconds",
                                                            "Milliseconds",
                                                            "Bytes",
                                                            "Kilobytes",
                                                            "Megabytes",
                                                            "Gigabytes",
                                                            "Terabytes",
[...]
